# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Logs
*.log

# Media/large files you don't want to track
*.mp4
*.mp3
*.wav
*.flac

# Model files (YAMNet or others)
*.h5
*.ckpt
*.tflite
*.pb
*.onnx

# Jupyter
.ipynb_checkpoints/

# Optional: temp or cache folders
__pycache__/
*.tmp
*.cache/

*.expo

node_modules/

expo-env.d.ts

app/ai/audio_analysis.json